#header-nav{border-radius: 0px;
background-color: grey;
font-size: 2em;
padding-top: 8px;
font-family: roboto slab;
font-weight: bolder;}

.content-box{position: relative;
  box-sizing: border-box;
  background-color: grey;
color: white;
padding: 10px;
margin: 10px;}


.item-name{text-align: center;
  text-transform: uppercase;
   color: black;
  font-size: 150%;
  ;
}

h1{position: relative;
  text-align: center;
font-weight: bolder;
 font-size: 200% ;
margin-bottom: 30px;

font-family: roboto slab;}


 #li{
  text-align: center;
  background-color: black;
}

#nav-list>#li>a:hover{background-color: whitesmoke;
color: black;}


  .menu-item{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: block;

}

.menu-item:hover{
  background-color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.4);
}


